body {
  max-width: 600px;
  margin: 10px auto;
  background-color: aliceblue;
}
#form_section {
  background-color: white;
  box-shadow: -3px 1px 7px black;
  padding: 10px;
  margin: 20px;
}

#iamge_form input[type="text"] {
  border: 2px solid rgba(0, 0, 255, 0.644);
}

#feedback_form label {
  display: block;
  margin-top: 10px;
}
#feedback_form input[type="text"] {
  width: 200px;
}

#feedback_form input[type="date"] {
  height: 26px;
  width: 155px;
}
